<div class="container-fluid">
  <div class="row">
    <div class="col text-right" *ngIf="!noActions">
      <button class="btn btn-info mb-3" (click)="print()">Print per week</button>
      <button class="btn btn-success mb-3" [routerLink]="['new']">Create expense</button>
    </div>
  </div>
  <div #printSection class="row table-responsive-lg">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th scope="col" class="filterable">
          <div class="align-items-center">
            <span>Date</span>
            <i class="fa fa-filter justify-content-end mr-3" (click)="dateRangeIsOpen = !dateRangeIsOpen"></i>
          </div>
        </th>
        <th scope="col">Time</th>
        <th scope="col">Description</th>
        <th scope="col" class="filterable">
          <span>Amount</span>
          <i class="fa fa-filter justify-content-end mr-3" (click)="amountRangeIsOpen = !amountRangeIsOpen"></i>
        </th>
        <th scope="col">Comment</th>
        <th scope="col" *ngIf="!noActions" class="notPrint">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr [hidden]="!dateRangeIsOpen && !amountRangeIsOpen">
        <td>
          <input
            type="text"
            class="form-control"
            bsDaterangepicker
            [ngModel]="dateRange"
            [bsConfig]="{ rangeInputFormat: 'MM/DD/YYYY' }"
            [isOpen]="dateRangeIsOpen"
            (bsValueChange)="dateRangeChanged($event)"
          >
        </td>
        <td></td>
        <td></td>
        <td>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="Min amount"
              (change)="amountRangeChanged()"
              [(ngModel)]="amountRange.from">
            <input
              type="number"
              class="form-control"
              placeholder="Max amount"
              (change)="amountRangeChanged()"
              [(ngModel)]="amountRange.to">
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
        <tr *ngFor="let expense of expensesList$ | async">
          <td>{{expense.created_at | date: 'longDate'}}</td>
          <td>{{expense.created_at | date: 'mediumTime'}}</td>
          <td>{{expense.description}}</td>
          <td>{{expense.amount | currency}}</td>
          <td>{{expense.comment}}</td>
          <td *ngIf="!noActions" class="notPrint">
            <button class="btn btn-info pt-0 pb-0 pl-1 pr-1" [routerLink]="[expense.id]"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger pt-0 pb-0 pl-1 pr-1" (click)="removeExpense(expense.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <pagination
          class="notPrint"
          [boundaryLinks]="true"
          [itemsPerPage]="params.page_size"
          [totalItems]="totalItems"
          [(ngModel)]="params.page"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
