<div class="container-fluid">
  <div class="row">
    <div class="col text-right">
      <button class="btn btn-success mb-3" [routerLink]="['new']">Create expense</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Comment</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expensesList$ | async">
          <td>{{expense.created_at | date: 'longDate'}}</td>
          <td>{{expense.created_at | date: 'mediumTime'}}</td>
          <td>{{expense.description}}</td>
          <td>{{expense.amount | currency}}</td>
          <td>{{expense.comment}}</td>
          <td>
            <button class="btn btn-info" [routerLink]="[expense.id]">Edit</button>
            <button class="btn btn-danger" (click)="removeExpense(expense.id)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <pagination
          [boundaryLinks]="true"
          [itemsPerPage]="params.page_size"
          [totalItems]="100"
          [(ngModel)]="params.page"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">

        </pagination>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
