<div class="container-fluid">
  <div class="row">
    <div class="col text-right">
      <button class="btn btn-success mb-3" [routerLink]="['new']">Create expense</button>
    </div>
  </div>
  <div class="row table-responsive-lg">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th scope="col" class="filterable">
          <div class="align-items-center">
            <span>Date</span>
            <i class="fa fa-filter justify-content-end mr-3" (click)="rangeIsOpen = !rangeIsOpen"></i>
          </div>
        </th>
        <th scope="col">Time</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Comment</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr [hidden]="!rangeIsOpen">
        <td>
          <input
            type="text"
            class="form-control"
            bsDaterangepicker
            placement="right"
            [ngModel]="dateRange"
            [bsConfig]="{ rangeInputFormat: 'MM/DD/YYYY' }"
            [isOpen]="rangeIsOpen"
            (bsValueChange)="dateRangeChanged($event)"
          >
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
        <tr *ngFor="let expense of expensesList$ | async">
          <td>{{expense.created_at | date: 'longDate'}}</td>
          <td>{{expense.created_at | date: 'mediumTime'}}</td>
          <td>{{expense.description}}</td>
          <td>{{expense.amount | currency}}</td>
          <td>{{expense.comment}}</td>
          <td>
            <button class="btn btn-info pt-0 pb-0 pl-1 pr-1" [routerLink]="[expense.id]"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger pt-0 pb-0 pl-1 pr-1" (click)="removeExpense(expense.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <pagination
          [boundaryLinks]="true"
          [itemsPerPage]="params.page_size"
          [totalItems]="100"
          [(ngModel)]="params.page"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </pagination>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
