<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h1>Update user</h1>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="userForm" class="col" (submit)="save()" (reset)="reset()">
      <div class="form-group row">
        <label for="username" class="col-sm-2">Username</label>
        <div class="col-sm-5">
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
            [ngClass]="{'is-invalid': validStatus(userForm.get('username'))}"
            required
          >
          <div class="invalid-tooltip d-block" *ngIf="validStatus(userForm.get('username'))">
            <div *ngFor="let error of generateErrors('username')">
              <span>{{error}}</span>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="firstName" class="col-sm-2">First name</label>
        <div class="col-sm-5">
          <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="first_name"
            [ngClass]="{'is-invalid': validStatus(userForm.get('first_name'))}"
            required
          >
          <div class="invalid-tooltip d-block" *ngIf="validStatus(userForm.get('first_name'))">
            <div *ngFor="let error of generateErrors('first_name')">
              <span>{{error}}</span>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="lastName" class="col-sm-2">Last name</label>
        <div class="col-sm-5">
          <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="last_name"
            [ngClass]="{'is-invalid': validStatus(userForm.get('last_name'))}"
            required
          >
          <div class="invalid-tooltip d-block" *ngIf="validStatus(userForm.get('last_name'))">
            <div *ngFor="let error of generateErrors('last_name')">
              <span>{{error}}</span>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="col-sm-2">Role</label>
        <div class="col-sm-5">
          <select
            id="role"
            class="form-control text-capitalize"
            [formControlName]="'role'"
            [ngClass]="{'is-invalid': validStatus(userForm.get('role'))}"
            required
          >
            <option class="text-capitalize" *ngFor="let role of roles" value="{{role}}">{{role}}</option>
          </select>
          <div class="invalid-tooltip d-block" *ngIf="validStatus(userForm.get('role'))">
            <div *ngFor="let error of generateErrors('role')">
              <span>{{error}}</span>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col">
          <button class="btn btn-default" [routerLink]="['../']">Cancel</button>
          <button class="btn btn-warning" type="reset">Reset</button>
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
